{% extends "base.html" %}


{% block title %}Change Password{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">
        <div class="page-header">
            <h1>Change password</h1>
        </div>
        <form method="POST">
            <div class="mb-3">
                <label for="password1" class="form-label">Password</label>
                <input type="password" class="form-control" id="password1" name="old_pass" placeholder="Enter Password">
              </div>
            <div class="mb-3">
              <label for="username" class="form-label">New Password</label>
              <input type="password" class="form-control" id="username" name="new_pass" placeholder="Enter new password">
            </div>
      
            <div class="mb-3">
              <label for="password1" class="form-label">Password</label>
              <input type="password" class="form-control" id="password1" name="Confirm_new_pass" placeholder="Confirm old password">
            </div>
            <div>
              <button type="submit" class="btn btn-lg btn-dark mt-3">Signup</button>
            </div>
          </form>
    </div>
</body>
{% endblock %}